.logo {
  width: 85px;
  @include lg {
    width: 190px;
  }
}

.form-control{
  width: 230px;
  height: 24px;
  @include xl {
    width: 288px;
  }
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &::placeholder {
    color: #808080;
  }
}

.burger-btn {
  width: 24px;
  background: transparent;  
  &:hover {
    background: transparent;
  }
}

.search-section {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}


.menu-item {
  display: none;
  position: absolute;
  top: 51px;
  left: 0;
  overflow: hidden;
}

.bg-cover {
  display: none;
  z-index: 1000;
}