.border-lg-start{
    @include lg {
        border-left: 1px solid #000;
    }
}

.mt-to-nav {
    margin-top: 49px;
    @include lg {
        margin-top: 106px;
    }
}

.vertical-lr {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}

.object-fit-cover {
    object-fit: cover;
}

.letter-spacing-3 {
    letter-spacing: .3rem ;
}

.mt_-1 {
    margin-top: -1px;
}

.me_-1 {
    margin-right: -1px;
}

.mb_-1 {
    margin-bottom: -1px;
}

.ms_-1 {
    margin-left: -1px;
}

.lh-1 {
    line-height: 1;
}

.fs-lg-1 {
    @include lg {
        font-size: 48px !important;
    }
}

.fs-lg-2 {
    @include lg {
        font-size: 32px !important;
    }
}