.btn-triangle {
    position: relative;
    width: 132px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    transition: .3s;
    line-height: 1;
    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        right: 0;
        border-left: 16px solid transparent;
        border-bottom: 16px solid #E6553B;
        transition: .3s;
    }
    &:hover {
        background: #E6553B;
        color: #fff;
        &::after {
            border-bottom: 16px solid #000;
        }
    }
}

.btn-main {
    width: 132px;
    border: 1px solid #000;
    color: #fff;
    line-height: 1;
}

.btn-transparent {
    position: relative;
    width: 132px;
    background: transparent;
    color: #000;
    border: 1px solid transparent;
    line-height: 1;
    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        right: 0;
        border-left: 16px solid transparent;
        border-bottom: 16px solid #E6553B;
        transition: .3s;
    }
    &:hover {
        color: #fff;
        background: #E6553B;
        border: 1px solid #000;
        &::after {
            border-bottom: 16px solid #000;
        }
    }
}