.artistSwiper {
  width: 100%;
  height: auto;
  position: initial;
}
.swiper-wrapper {
  height: 380px;
  @include md {
    height: 450px;
  }
  @include lg {
    height: auto;
  }
}
.swiper-slide-prev {
  height: 263px;
  margin-right: 0;
  background-color: $dark;
  @include md {
    height: 350px;
  }
  @include lg {
    margin-right: 32px !important;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  img {
    mix-blend-mode:luminosity;
    width: 100%;
    height: 100%;
  }
  .artist-name, .artist-more, .artist-text-lg {
    display: none !important; 
  }
}
.swiper-slide-next {
  height: 263px;
  margin-left: 0;
  background-color: $dark;
  @include md {
    height: 350px;
  }
  @include lg {
    margin-left: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  img {
    mix-blend-mode:luminosity;
    width: 100%;
    height: 100%;
  }
  .artist-name, .artist-more, .artist-text-lg {
    display: none !important; 
  }
}
.swiper-slide-active {
  width: 100% !important;
  
  @include lg {
    height: 338px;
    width: 500px !important;
  }
  @include xl {
    height: 400px;
  }
  @include xxl {
    height: 439px;
    width: 636px !important;
  }
  img {
    width: 100%;
    height: 263px;
    @include md {
      height: 350px;
    }
    @include lg {
      height: 100%;
    }
  }
}
.swiper-slide-duplicate-next {
  margin-right: 0;
  @include lg {
    margin-right: -85px !important;
  }
  @include xl {
    margin-right: -60px !important;
  }
  @include xxl {
    margin-right: -95px !important;
  }
  .artist-name, .artist-more, .artist-text-lg {
    display: none !important; 
  }
}

.artist-name {
  top: 24px;
  left: 24px;
  font-size: 32px;
  line-height: 85px;
  @include md {
    font-size: 80px;
  }
  @include lg {
    font-size: 60px;
    line-height: 1;
    top: 10px;
    left: 10px;
  }
  @include xl {
    font-size: 80px;
    top: 20px;
    left: 20px;
  }
  @include xxl {
    top: 24px;
    left: 24px;
  }
}

.artist-more {
  bottom: 130px;
  right: 8px;
  line-height: 1;
  @include md {
    bottom: 130px;
    right: 20px;
  }
  @include lg {
    bottom: 10px;
    right: 10px;
  }
  @include xl {
    bottom: 20px;
    right: 20px;
  }
  @include xxl {
    bottom: 24px;
    right: 24px;
  }
}

.artist-text-lg {
  @include lg {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50%;
    background: rgba(255, 255, 255, .8) !important;
  }
  @include xl {
    left: 20px;
    bottom: 20px;
  }
  @include xxl {
    left: 24px;
    bottom: 24px;
  }
}

.artist-pagination {
  @include lg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  
}

.swiper-pagination {
  position: initial;
  width: auto;
  display: flex;
}

.swiper-pagination-bullet {
  background: $dark;
  width: 8px;
  height: 8px;
  border-radius: 0;
  opacity:1;
}

.swiper-pagination-bullet-active {
  background:$primary;
  border-radius: 0;
  width: 16px;
  height: 8px;
}


