.ranking-item {
    height: 91px;
    &-lg {
        @include lg {
            height: auto;
        }
    }

    .cover {
        background: transparent;
        transition: .3s;
    }
    
    .num {
        width: 54px;
        &-lg {
            @include lg {
                position: absolute;
                top: 0;
                left: 0;
                width: 64px;
                height: 64px;
                border-bottom: 1px solid #000;
            }
        }
        
    }

    .image {
        width: 87px;
        &-lg {
            @include lg {
                width: 100%;
                height: 374px;
                object-position: top;
            }
        }
        
    }

    .more {
        width: 87px;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .3s;
        line-height: 1;
        &::after {
            content:"";
            border-left: 16px solid transparent;
            border-bottom: 16px solid #E6553B;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &:hover {
            font-size: 20px;
        }
        
        &-lg {
            @include lg {
                width: 132px;
                height: auto;
                border-top: 1px solid #000;
                border-left: 1px solid #000;
                background: #E6553B;
                padding: 8px 0;
                font-size: 14px;
                &::after {
                    transition: .3s;
                    border-bottom: 16px solid #000;
                }
                &:hover {
                    font-size: 14px;
                    background: #fff;
                    color: #E6553B;
                    &::after {
                        border-bottom: 16px solid #E6553B;
                    }
                }
            }
        }
    }
    &:hover {
        .cover {
            @include lg {
                background: rgba(0, 0, 0, .65);
            }
        }
        .more {
            opacity: 1;
        }
    }
}

.ranking-text {
    width: 75%;
    @include md {
        width: 80%;
    }
    @include lg {
        width: 66.66666%;
    }
    &-lg {
        @include lg {
            width: 100%;
            border: none !important;
            border-top: 1px solid #000 !important;
        }
    }
}